@tailwind components;

article .ct-container {
  @apply container mx-auto bg-gray-50 p-10;
}

article .ct-post-elements {
  @apply bg-white p-10;
}

article .ct-success {
  @apply relative mx-auto pl-14 pr-5 py-4 my-4 bg-green-100 text-green-900 rounded-md font-normal leading-normal;
}

article .ct-success::before {
  @apply absolute w-6 h-6 left-4 bg-green-400 text-white rounded-full;

  content: ' ';
  top: 50%;
  background-image: url('../image/check.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  margin-top: -0.75rem;
}

article .ct-warn {
  @apply relative mx-auto pl-14 pr-5 py-4 my-4 bg-yellow-100 text-yellow-900 rounded-md font-normal leading-normal;
}

article .ct-warn::before {
  @apply absolute w-6 h-6 left-4 text-white;

  content: ' ';
  top: 50%;
  background-image: url('../image/warn.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  margin-top: -0.75rem;
}

article .ct-error {
  @apply relative mx-auto pl-14 pr-5 py-4 my-4 bg-red-100 text-red-900 rounded-md font-normal leading-normal;
}

article .ct-error::before {
  @apply absolute w-6 h-6 left-4 bg-red-300 text-white rounded-full;

  content: ' ';
  top: 50%;
  background-image: url('../image/cross.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  margin-top: -0.75rem;
}

article .ct-link {
  @apply relative inline-block bg-black hover:bg-gray-700 transition-colors ease-in-out text-white pl-5 pr-4 py-3 no-underline text-base font-semibold leading-normal shadow-lg;
}

article .ct-link::after {
  @apply pl-4;

  content: '→';
}
